@import 'fonts/fonts.css';

/*
GENERAL SETUP
*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: auto;
    font-size: 16px;
    color: var(--main-text-color);
    line-height: 1.7em;
    
    -webkit-font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
    background-color: var(--background-color);
}

/*
TYPOGRAPHY
*/

h1, h2, h3, h4, h5, h6, p, input, li {
    font-family: "iA Writer Duo", sans-serif;
    font-weight: normal;
    font-style: normal;
}

pre, code {
    font-family: "DM Mono", monospace;
}

/*
LINKS
*/

a {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: .125em;
    text-underline-offset: 3px;
    color: var(--main-accent-color);
    background: transparent;
}
a:hover, a:focus {
    color: var(--main-color);
    text-decoration-color: var(--main-color);
}
a:focus {
    outline: thin dotted var(--main-color);
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}

/*
FIGCHAR
*/

.figchar pre {
    font-family: "Source Code pro";
    font-size: x-small;
    line-height: 100%;
    font-weight: 900;
}

a.figchar {
    text-decoration: none;
    color: black;
}

/*
NAV MENU
*/

nav.menu p {
    margin: 0;
}

nav.menu a.navbarItem {
    border-radius: 5px;
    border: 1px var(--background-color) solid;
    overflow: hidden;
}
nav.menu a.selectedNavbarItem, nav.menu a.selectedNavbarItem:hover, nav.menu a.selectedNavbarItem:focus {
    border: 1px var(--link-highlight-color) solid;
    background-color: var(--link-highlight-color);
    color: var(--background-color);
    text-decoration-color: var(--link-highlight-color);
    text-decoration: none;
}

/*
FOOTER
*/

footer p{
    margin: 0;
}

/*
HOME PAGE
*/

#socials p{
    margin: 0;
}
