@import 'fonts/fonts.css';

/*
VARIABLES
*/

:root{
    --background-color: #eff1f5;
    --foreground-color: #4c4f69;
    --link-color: #04a5e5;
    --ansi-0: #5c5f77;
    --ansi-1: #d20f39;
    --ansi-2: #40a02b;
    --ansi-3: #df8e1d; 
    --ansi-4: #1e66f5;
    --ansi-5: #ea76cb;
    --ansi-6: #179299;
    --ansi-7: #acb0be;
    --ansi-8: #6c6f85;
    --ansi-9: #d20f39;
    --ansi-10: #40a02b;
    --ansi-11: #df8e1d; 
    --ansi-12: #1e66f5;
    --ansi-13: #ea76cb;
    --ansi-14: #179299;
    --ansi-15: #fdfdca;
}

@media (prefers-color-scheme: dark) {
    :root{
        --background-color: #1e1e1e;
        --foreground-color: #b8bcb9;
        --link-color: #005bbb;
        --ansi-0: #3a3c43;
        --ansi-1: #be3e48;
        --ansi-2: #869a3a;
        --ansi-3: #c4a535; 
        --ansi-4: #4e76a1;
        --ansi-5: #855b8d;
        --ansi-6: #568ea3;
        --ansi-7: #b8bcb9;
        --ansi-8: #888987;
        --ansi-9: #fb001e;
        --ansi-10: #0e712e;
        --ansi-11: #c37033; 
        --ansi-12: #176ce3;
        --ansi-13: #fb0067;
        --ansi-14: #2d6f6c;
        --ansi-15: #fcffb8;
    }
}

/*
GENERAL SETUP
*/

:root {
    --link-text-color: var(--ansi-12);
    --link-hover-text-color: var(--link-color);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-size: 16px;
    color: var(--foreground-color);
    line-height: 1.7em;
    
    -webkit-font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
    background-color: var(--background-color);
}

@media (width >= 900px) {
  body {
    width: 80%;
  }
}

@media not (width >= 800px) {
  body {
    margin: 10px 10px 10px 10px;
  }
}

/*
TYPOGRAPHY
*/

h1, h2, h3, h4, h5, h6, p, input, li {
    font-family: "iA Writer Duo", sans-serif;
    font-weight: normal;
    font-style: normal;
}

pre, code {
    font-family: "DM Mono", monospace;
}

/*
LINKS
*/

a {
    text-decoration: underline;
    text-decoration-color: var(--link-text-color);
    text-decoration-thickness: .125em;
    text-underline-offset: 3px;
    color: var(--link-text-color);
    background: transparent;
}
a:hover, a:focus {
    color: var(--link-hover-text-color);
    text-decoration-color: var(--link-hover-text-color);
}
a:hover, a:active {
    outline: 0;
}

/*
FIGCHAR
*/

.figlink pre {
    font-family: "Source Code pro";
    font-size: x-small;
    line-height: 100%;
    font-weight: 900;
}
pre.figchar {
    display: inline-block;
}

a.figlink {
    text-decoration: none;
}

#figcontainer {
    overflow-x: scroll;
    white-space: nowrap;
}

/*
NAV MENU
*/

nav.menu p {
    margin: 0;
}

nav.menu a.navbarItem {
    border-radius: 5px;
    border: 1px --background-color none;
    overflow: hidden;
}
nav.menu a.selectedNavbarItem, nav.menu a.selectedNavbarItem:hover, nav.menu a.selectedNavbarItem:focus {
    border: 1px var(--link-hover-text-color) solid;
    background-color: var(--link-hover-text-color);
    color: var(--background-color);
    text-decoration-color: var(--link-hover-text-color);
    text-decoration: none;
}

/*
FOOTER
*/

footer p{
    margin: 0;
}

/*
HOME PAGE
*/

#socials p{
    margin: 0;
}

/*
ANSI COLOR CLASSES
*/

.ansi0 {
    color: var(--ansi-0);
}

.ansi1 {
    color: var(--ansi-1);
}

.ansi2 {
    color: var(--ansi-2);
}

.ansi3 {
    color: var(--ansi-3);
}

.ansi4 {
    color: var(--ansi-4);
}

.ansi5 {
    color: var(--ansi-5);
}

.ansi6 {
    color: var(--ansi-6);
}

.ansi7 {
    color: var(--ansi-7);
}

.ansi8 {
    color: var(--ansi-8);
}

.ansi9 {
    color: var(--ansi-9);
}

.ansi10 {
    color: var(--ansi-10);
}

.ansi11 {
    color: var(--ansi-11);
}

.ansi12 {
    color: var(--ansi-12);
}

.ansi13 {
    color: var(--ansi-13);
}

.ansi14 {
    color: var(--ansi-14);
}

.ansi15 {
    color: var(--ansi-15);
}
