/* 
iA Writer fonts
*/

@font-face {
    font-family: "iA Writer Quattro";
    src: url('ia/Webfonts/iAWriterQuattroS-Regular.eot');
    src: url('ia/Webfonts/iAWriterQuattroS-Regular.eot?') format('eot'),
        url('ia/Webfonts/iAWriterQuattroS-Regular.woff') format('woff'),
        url('ia/Webfonts/iAWriterQuattroS-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iA Writer Quattro";
    src: url('ia/Webfonts/iAWriterQuattroS-Bold.eot');
    src: url('ia/Webfonts/iAWriterQuattroS-Bold.eot?') format('eot'),
        url('ia/Webfonts/iAWriterQuattroS-Bold.woff') format('woff'),
        url('ia/Webfonts/iAWriterQuattroS-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "iA Writer Quattro";
    src: url('ia/Webfonts/iAWriterQuattroS-Italic.eot');
    src: url('ia/Webfonts/iAWriterQuattroS-Italic.eot?') format('eot'),
        url('ia/Webfonts/iAWriterQuattroS-Italic.woff')  format('woff'),
        url('ia/Webfonts/iAWriterQuattroS-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "iA Writer Quattro";
    src: url('ia/Webfonts/iAWriterQuattroS-BoldItalic.eot');
    src: url('ia/Webfonts/iAWriterQuattroS-BoldItalic.eot?') format('eot'),
        url('ia/Webfonts/iAWriterQuattroS-BoldItalic.woff')  format('woff'),
        url('ia/Webfonts/iAWriterQuattroS-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "iA Writer Duo";
    src: url('ia/Webfonts/iAWriterDuoS-Regular.eot');
    src: url('ia/Webfonts/iAWriterDuoS-Regular.eot?') format('eot'),
        url('ia/Webfonts/iAWriterDuoS-Regular.woff') format('woff'),
        url('ia/Webfonts/iAWriterDuoS-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iA Writer Duo";
    src: url('ia/Webfonts/iAWriterDuoS-Bold.eot');
    src: url('ia/Webfonts/iAWriterDuoS-Bold.eot?') format('eot'),
        url('ia/Webfonts/iAWriterDuoS-Bold.woff') format('woff'),
        url('ia/Webfonts/iAWriterDuoS-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "iA Writer Duo";
    src: url('ia/Webfonts/iAWriterDuoS-Italic.eot');
    src: url('ia/Webfonts/iAWriterDuoS-Italic.eot?') format('eot'),
        url('ia/Webfonts/iAWriterDuoS-Italic.woff')  format('woff'),
        url('ia/Webfonts/iAWriterDuoS-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "iA Writer Duo";
    src: url('ia/Webfonts/iAWriterDuoS-BoldItalic.eot');
    src: url('ia/Webfonts/iAWriterDuoS-BoldItalic.eot?') format('eot'),
        url('ia/Webfonts/iAWriterDuoS-BoldItalic.woff')  format('woff'),
        url('ia/Webfonts/iAWriterDuoS-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* 
DM Mono
*/

@font-face {
    font-family: "DM Mono";
    src: url('DM_Mono/DMMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DM Mono";
    src: url('DM_Mono/DMMono-Light.ttf');
    font-weight:300;
    font-style: normal;
}

@font-face {
    font-family: "DM Mono";
    src: url('DM_Mono/DMMono-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DM Mono";
    src: url('DM_Mono/DMMono-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "DM Mono";
    src: url('DM_Mono/DMMono-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "DM Mono";
    src: url('DM_Mono/DMMono-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

/*
SourceCodePro
*/

@font-face {
    font-family: "Source Code Pro";
    src: url("Source_Code_Pro/static/SourceCodePro-Black.ttf");
    font-style: normal;
    font-weight: 900;
}
