{{define "base"}}
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/main.css">

    {{template "header" .}}

    {{template "favicons" .}}

    <script>
        if (typeof main === "undefined"){
            var main = function() {};
        }
        main();
    </script>

</head>

<body class="iawriterduo-regular">
<div class="content">
    <header>
        {{template "icon" .}}
        {{template "navbar" .}}
    </header>

    {{template "content" .}}

    <footer>
        {{template "footer" .}}
    </footer>
</div>
</body>

</html>
{{end}}