{{define "base"}}
<!-- unless otherwise noted, templates are provided by the importing template. -->
<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {{if .PageParams.redirect }}
        <meta http-equiv="refresh" content="{{.PageParams.redirect.delay}}; URL={{.PageParams.redirect.url}}" />
        {{end}}

        <title>{{template "title" .}}</title>
        
        <link rel="stylesheet" href="/style/main.css">
        
        {{template "head" .}} <!-- provided by `head.html` -->

        {{template "favicons" .}} <!-- provided by `favicons.html` -->

        {{if .SiteParams.colorChange}}
        
        {{end}}
        
        <script>
            if (typeof main === "undefined"){
                var main = function() {};
            }
            main();
        </script>
        
    </head>

    <body class="iawriterduo-regular">
        <header>
            {{template "header" .}}
        </header>
        
        <nav class="menu">
            {{template "nav-menu" .}} <!-- provided by `nav.html` -->
        </nav>

        <nav class="breadcrumb">
            {{template "nav-breadcrumb" .}} <!-- provided by `breadcrumb.html` -->
        </nav>
        
        <main>
            {{template "main" .}}
        </main>
        
        <footer>
            {{template "footer" .}} <!-- provided by `footer.html` -->
        </footer>
    </body>

</html>
{{end}}