{{define "colorChange"}}
<style id="additionalStyle">
</style>

<script>
var main = function(){
    let style = document.getElementById("additionalStyle");
    let colors = [
        "ansi-9",
        "ansi-10",
        "ansi-11",
        "ansi-12",
        "ansi-13",
        "ansi-14"
    ];
    var randomColor = colors[Math.floor(Math.random() * colors.length)];
    style.innerHTML = `
    :root {
        --link-text-color: var(--${randomColor});
    }
    
    @media (prefers-color-scheme: dark) {
        :root {
            --link-text-color: var(--${randomColor});
        }
    }`
}
</script>
{{end}}