{{define "head"}}
<div id="figcontainer">
<a class="figlink" href="/">
<pre class="figchar ansi9">
        
   __   
 /'__`\ 
/\  __/ 
\ \____\
 \/____/
       
 
</pre><pre class="figchar ansi10">   
 ___      
/\_ \     
\//\ \    
  \ \ \   
   \_\ \_ 
   /\____\
   \/____/
          
          
</pre><pre class="figchar ansi11">

        
   __   
 /'__`\ 
/\  __/ 
\ \____\
 \/____/
        
        
</pre><pre class="figchar ansi12">
   ___  
 /'___\ 
/\ \__/ 
\ \ ,__\
 \ \ \_/
  \ \_\ 
   \/_/ 
        
        
</pre><pre class="figchar ansi13">
 __      
/\ \__   
\ \ ,_\  
 \ \ \/  
  \ \ \_ 
   \ \__\
    \/__/
         

</pre><pre class="figchar ansi14">
 
          
          
   __     
 /'__`\   
/\ \L\.\_ 
\ \__/.\_\
 \/__/\/_/
       
 
</pre><pre class="figchar ansi9">
        
        
        
  ____  
 /',__\ 
/\__, `\
\/\____/
 \/___/ 
     
 
</pre><pre class="figchar ansi10">
       
 __    
/\_\   
\/\ \  
 \ \ \ 
  \ \_\
   \/_/
      
   
</pre><pre class="figchar ansi11">
          
          
   __     
 /'__`\   
/\ \L\.\_ 
\ \__/.\_\
 \/__/\/_/
          
          
</pre>
</div>
</a>
{{end}}