{{define "icon"}}

<a href="/">
<pre style="font-size: x-small;line-height: 100%;">    ___       ___       ___       ___       ___       ___       ___       ___       ___   
   /\  \     /\__\     /\  \     /\  \     /\  \     /\  \     /\  \     /\  \     /\  \  
  /::\  \   /:/  /    /::\  \   /::\  \    \:\  \   /::\  \   /::\  \   _\:\  \   /::\  \ 
 /::\:\__\ /:/__/    /::\:\__\ /::\:\__\   /::\__\ /::\:\__\ /\:\:\__\ /\/::\__\ /::\:\__\
 \:\:\/  / \:\  \    \:\:\/  / \/\:\/__/  /:/\/__/ \/\::/  / \:\:\/__/ \::/\/__/ \/\::/  /
  \:\/  /   \:\__\    \:\/  /     \/__/   \/__/      /:/  /   \::/  /   \:\__\     /:/  / 
   \/__/     \/__/     \/__/                         \/__/     \/__/     \/__/     \/__/  </pre>
</a>

{{end}}